*{
    padding: 0;
    margin: 0;
}
.do_text h3{
    color: black;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 50px;
}
.do_writte h4{
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.do_writte p{
    color: #29313D;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.do_writte img{
    margin-left: 130px;
    padding-bottom: 30px;
}